* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    position: relative;
    grid-template: 1fr 8fr / 1fr;
    
}
header{
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 30px;
    background-color: antiquewhite;
    
}
.addBook{
    padding: 20px;
    background-color: aliceblue;
}
.addBook:hover{
    padding: 20px 22px;
}
main{
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 10px;
    padding: 20px;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    gap: 6px;
    padding: 12px;
    border: solid 1px black;
    border-radius: 6px;
}

.formBody{
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    filter:blur(none);
    z-index: 2; 
}
.toggleflex{
    display: flex;
}
.togglenone{
    display: none;
}
.form{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1f 1fr;
    padding: 20px 50px;
    border: solid 1px black;
    border-radius: 12px;
}

.blur{
    filter: blur(3px);
}